.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 400px;
  min-width: 350px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 10px;

}

.name-index-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.description {
  text-align: center;
  position: relative;
  bottom: 42%;
}

.card-links {
  &:hover {
    opacity: 0.6;
    text-decoration: none;
    transition: 0.4s;
    transform: scale(0.98);
  }
}


@media (max-width: 1377px) {
  .grid-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .grid-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  .grid-card {
    grid-template-columns: 1fr;
  }
}
