body {
  margin:0;
  height: 0;
  font-family: 'Lora', serif;
  h3 {
    font-family: 'Lora', serif;
  }
  p {
    font-family: 'Lora', serif;
  }
  h1 {
    font-family: 'Lora', serif;
  }
  h2 {
    font-family: 'Lora', serif;
  }
  a {
    font-family: 'Lora', serif;
  }
}


.index-title {
  text-align: center;
  color: black;
}

.index-background-image {
  padding-top: 70px;
}
