.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map2 {
  box-shadow: 0 0 10px 10px lightgrey;
  position: sticky;
  top: 80px;
}
