.banner-show-page {
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 70px;
  margin-bottom: 10px;
  h1 {
    color: white;
    text-align: center;

  }
  p {
    color: white;
    text-align: center;
  }
}
