<%= link_to(map_path(location), class: "card-links") do %>
<div class="link-to-show">
  <h2><%= @location.name %> - <%= @location.location %></h2>
  <p>Click to view on World Map</p>

</div>
<% end %>
