<%= link_to(location_path(location), class: "card-links") do %>
<div class="link-to-show">
  <h2><%= location.name %> - <%= location.location %></h2>
  <p>Click to view more info</p>
</div>
<% end %>
