<h1>locations</h1>


 <% @locations.each do |location| %>
 <%= link_to(location_path(location), class: "card-links") do %>
      <div class="card-product">
        <div class="card-product-infos">
          <h3>Country:  <em><%= "#{location.name}" %></em></h3>
          <h4>info:  <em> <%= "#{location.description}" %></em></h4>
          <p>more info: <%= "#{location.location}" %></p>
        </div>
      </div>
      <% end %>
      <% end %>
